<%- include('Navbar'); %>
    <div class="howto">

        <div class="top">
        <img class="topimg" src="/texts/4.svg">
        </div>
       
        <div class="whatisholder">
        <p>
            <p class="headtextsty"><b>What is MochiMochi?</b><p>
            <br>
            <br>
        MochiMochi is a young and upcoming clothing brand located in Cebu City and Leyte.<br>
        This brand aims to create a unisex clothing line that uses art from one of the founding members.<br>
        The brand started in Cebu City but is now currently based in Leyte due to the pandemic.

         </p>
        <br><br><br>
        </div>
<div class="feat">
            <img class="aimg" src="/texts/5.svg">
</div>
<div class="ourstoryholder">

<p class="headtextsty"><b>Our Story</b><p>
<p>
        Established in early 2019, MochiMochi started out as a passion-project of three sisters <br> as each of them had specialties that would equate to success. <br>
        The sisters being creative as well as having a business background helped in creating the brand <br>
        This all lead to the perfect opportunity for them to make something that they would be proud in,<br> MochiMochi was the outcome.<br>
<br>
<br>
<br>
 </p>
 </div>
<div class="feat">
            <img class="aimg" src="/texts/6.svg">
        </div>
<div class="goalholder">
<p>
<p class="headtextsty"><b>What's Is Our Mission?</b><p>
<br><br>
Our goal is to provide unisex apparel that is both comfortable and minimalistic. <br>
We want to break the boundaries of what colors and styles a certain gender should wear <br>
by providing products that are not gender-bound so our customers can express anything they want to.

        </p>
 </div>
</div>
    <%- include('Footer'); %>

<style scoped>

    .topimg{
        margin-top: -30px;
    margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;

    }

    .feat img{

    margin-bottom: -10px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    .aimg{
    margin-top: -30px;
    margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }

    p{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    .goalholder{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height : 32px;
    }

    .whatisholder{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height : 32px;
    }

    .ourstoryholder{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height : 32px;
    }

    .headtextsty{
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 20px;
    }
</style>
