<%- include('Navbar'); %>
    <div class="howto">
        
        <img class="cimg" src="/texts/ContactUsBanner.svg">
        
        <div class="contactinfodiv">
        <img class="contactbgimage" src="/texts/contactinfobg.png">
        <p class="textpaddiv">
            
            <b>MochiMochi Shirt Print</b><br><br>
            Address: Clavano St., Capitol Site, Cebu City
            <br>
            Near Clavano Printers
            <br>
            Contact No.: 0947 - 288 - 5429
            <br>
            <br>
           <b>Mobile for MochiMochi</b>
           <br>
            0947 - 418 - 8757
            <br>
            <br>
            <b>Social Media Accounts</b>
            <br>
        
            Facebook: facebook.com/mochimochi
            <br>
            Instagram: @xmannekineko
        </p>
        </div>
    </div>
    <%- include('Footer'); %>
<style scoped>

    .cimg{
        margin-top: 15px;
        margin-bottom: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    p{
         padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    .contactinfodiv{

        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
    }

    .contactbgimage{
    z-index: -4;
    position:absolute;
    top: 10;
    left: 0;
    width: 100%;
    }

    .textpaddiv{
    padding-top: 100px;
    }

</style>
