<%- include('Navbar'); %>
    <div class="howto">
      <img class="nekobg" src="/background/nekobg.png"></img>
        <img class="coverimg" src="/headers/HowToOrder.svg">
        <div>
        <div class="howtodiv">
        <b><p>Instructions:</b>
                <br><br>
            - Go to SHOP section to browse all the products available at our online shop
<br><br>
            - ADD TO CART the product/s that you wish to buy
<br><br>
            - If you are satisfied with your order/s and wish to check out, just click the cart icon at the top right corner and proceed to CHECKOUT
<br><br>
            - Input your email address, phone number and location for the delivery
<br><br>
            - Click CONFIRM if you are done filling up the required fields 
<br><br>
            - You will receive a text message that confirms your order

<br><br><br><br>
            <b>PAYMENT DETAILS</b>
            <br><br>
            - BPI
<br><br>
             ACCOUNT NAME: Brant Francis S. Uy
            <br>
             ACCOUNT NUMBER: 95321239123
        </p>
        </div>
        </div>
    </div>

    <%- include('Footer'); %>
<style scoped>

    .howto{
        padding-bottom: -50px;
    }
    .himg{
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }

    p{
         padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      border-radius: 2px;
      border-style: solid;
      background-color: white;
      padding-left: 16px;
      font-family: 'Montserrat', sans-serif;
      padding-top:10px;
    }

    
    .coverimg{
          padding-bottom: 25px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 68%;
    }

        .nekobg{
	  z-index: -1;
	  position: absolute;
	  bottom: -700px;
	  right: 100px;
      size: 75%;
	  }

      .howtodiv{
      font-size: 16px;
      }

</style>
