<%- include('Navbar'); %>
    <div class="size">
        <img class="simg" src="/texts/Size.png">
        <div class="sizes">
            <img class="simg" src="/sizes/7.svg">
            <img class="simg" src="/sizes/8.svg">
        </div>
        <div class="instructionsdiv">
            <h5>INSTRUCTIONS:</h5>
            <br>
            <br>
            <p>
               &#9688; Wash and dry inside-out <br><br> &#9688; Cold Wash or do not exceed 30c <br><br> &#9688; sNo bleach. No tumble dry in hot air <br><br> &#9688; Dry in the shade.
            </p>
        </div>
    </div>

    <%- include('Footer'); %>
<style scoped>

    .howto{
        padding-bottom: -50px;
    }
    .simg{
        margin-top: 30px;
        padding-bottom: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
    }

    .sizes img{
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      margin-bottom:20px;
    }

    p{
    
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }

    h5{
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
    }
    
    .instructionsdiv{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    }

</style>
